@model int

<div class="row">
    <div class="col-md-12 text-center">
        <h4>@(ViewBag.Title) - Modifier</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="customPropertyType">
            <custom-property-types :id="@Model"></custom-property-types>
        </div>
    </div>
</div>