@use "./utilities/imports";
@use "./utilities/variables" as v;

@import "./character";
@import "./login";

body {
  background-color: v.$black;
  
  color: v.$lightgray;
}

.container-fluid {
  .v-select, input, textarea, select, table, span {
    background-color: v.$darkgray !important;
    color: v.$lightgray !important;
  }
  
  .v-select {
    .vs__actions > .vs__open-indicator, .vs__actions > .vs__clear{
      fill: v.$lightgray;
    }
    
    ul {
      background-color: v.$darkgray ;
      color: v.$lightgray;
    }

    .vs__dropdown-option {
      background-color: v.$darkgray;
      color: v.$lightgray;
    }

    .vs__dropdown-option--highlight {
      background-color: v.$lightgray;
      
      & > * {
        background-color: v.$lightgray;
      }
    }
  }

  th, td, button {
    color: v.$lightgray !important;
  }
}

.navbar {
  background-color: v.$darkgray;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}