@model IEnumerable<Luna.Commons.Models.Dtos.CharacterDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <a class="btn btn-primary col-md-12" asp-controller="Character" asp-action="Index">Gestion des personnages</a>
</div>