@using Luna.Commons.Models
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Luna</title>
        <environment>
            <link rel="stylesheet" href="~/bundle/index.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Luna</a>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Character">Fiches de personnages</a>
                            </li>
                            @if (User.IsInRole(LunaApplicationRole.Admin))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Administration
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAdmin">
                                        <li>
                                            <a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="User">Utilisateurs</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="CharacterType">Types de personnage</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="CustomPropertyType">Types de propriétés personnalisées</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="Race">Races</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <a class="navbar-brand btn btn-default" asp-area="" asp-action="Logout" asp-controller="Account">Déconnexion</a>
                </div>
            </nav>
        </header>
        
        <div class="container-fluid vh-100 pt-3">
            @RenderBody()
        </div>

        <environment>
            <script src="~/bundle/index.js" asp-append-version="true"></script>
        </environment>
        
        @RenderSection("Scripts", required: false)
    
    </body>
</html>