<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Luna</title>
        <environment>
            <link rel="stylesheet" href="~/bundle/index.css" asp-append-version="true" />
        </environment>
    </head>
    <body class="login">
        
        <div class="container p-3">
            @RenderBody()
        </div>

        <environment>
            <script src="~/bundle/index.js" asp-append-version="true"></script>
        </environment>
        
        @RenderSection("Scripts", required: false)
    
    </body>
</html>