@model ErrorViewModel
@{
    ViewData["Title"] = "Une erreur s'est produite";
}
<div>
    <h1 class="text-danger">
        @ViewData["Title"]
    </h1>

    <p>
        Informations à inclure dans l'eventuel rapport d'anomalie :
    </p>
    <ul>
        <li>
            ID de requête : <strong>@Model.RequestId</strong>
        </li>
    </ul>

    @if (Model.CanDisplayFullError)
    {
        var didDisplayError = false;
        <p>Vos habilitations sur l'application vous permettent de voir la trace complete de l'erreur :</p>

        if (Model.Error != null)
        {
            didDisplayError = true;
            <div class="border border-danger" style="padding: 1em; margin-bottom: 1em;">
                <pre>@Model.Error.ToString()</pre>
            </div>
        }

        if (!didDisplayError)
        {
            <div class="border border-warning" style="padding: 1em; margin-bottom: 1em;">
                <strong>Aucune trace disponible</strong>
            </div>
        }
    }
</div>